{% extends "admin/admin_layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/selectize.css">
{% endblock %}
{% block body %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Ajouter un Article</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Articles</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Ajouter un Article</h5>
                                    </div>
                                    <form class="card-block row" method="POST" enctype="multipart/form-data" action="/admin/add_article">
                                        <div class="col-6 md-form px-0 pr-2">
                                            <p class="active text-left label-p"><b>Le Métier:</b></p>
                                            <select id="met" name="metier" searchable="Vous Cherchez..." required>
                                                <option value="" selected disabled></option>
                                                {% for met in mets %}
                                                    <option value="{{ met.code }}">{{ met.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-6 md-form px-0 pr-2">
                                            <p class="active text-left label-p"><b>La Famille:</b></p>
                                            <select id="fam" name="famille" searchable="Vous Cherchez..." required>
                                                <option value="" selected disabled></option>
                                            </select>
                                        </div>
                                        <div class="col-4 md-form px-0 pr-2">
                                            <p class="active text-left label-p"><b>La sous Famille</b></p>
                                            <select id="sfams" name="sous_famille" searchable="Vous Cherchez..." required>
                                            </select>
                                            <span class="grey-text">Veuillez choisir la sous famille</span>
                                        </div>
                                        <div class="col-2 md-form px-0 pr-2 ">
                                            <p class="text-left label-p"><b>Code de l'article</b></p>
                                            <input type="text" name="code_art" class="form-control" id="max" readonly>
                                        </div>
                                        <div class="col-6 md-form px-0 pr-2 ">
                                            <p class="text-left label-p"><b>Nom de l'article</b></p>
                                            <input type="text" name="nom_art" class="form-control" >
                                            <span class="grey-text">Veuillez choisir l'article <br>(Si il n'existe pas insérer le)</span>
                                        </div>
                                        <div class="col-6 md-form px-0 pr-2">
                                            <p for="art_des" class="active text-left label-p"><b>Désignation de l'article</b></p>
                                            <textarea class="form-control" name="design_art" rows="3"></textarea>
                                            <span class="grey-text">Insérer la désignation de l'article.</span>
                                        </div>
                                        <div class="col-4 md-form px-0 pr-2 ">
                                            <p class="text-left label-p"><b>Image de l'article</b></p>
                                            <input type="file" name="file" class="form-control" >
                                        </div>
                                        {% if code=="ok" %}
                                            <div class="col-4 md-form mt-4 ml-0">
                                                <p class="alert alert-success"><b>{{ message}}</b></p>
                                            </div>
                                        {% elif code=="fail" %}
                                            <div class="col-4 md-form mt-4 ml-0">
                                                <p class="alert alert-warning"><b>{{ message}}</b></p>
                                            </div>
                                        {% endif %}
                                        <div class="col-12 md-form pt-4 px-0 pr-2">
                                            <button type="submit" class="btn btn-primary">Valider</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block footer %}
<script src="/static/js/selectize.min.js"></script>
<script src="/static/js/pages/add_article.js"></script>

{% endblock %}