{% extends "admin/admin_layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/selectize.css">
{% endblock %}
{% block body %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Familles</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Familles</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Liste des Familles</h5>
                                        <!-- <span class="d-block m-t-5"></span> -->
                                    </div>
                                    <div class="card-block table-border-style pt-0">
                                        <div class="table-responsive h-max-300">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Code Métier</th>
                                                        <th>Code</th>
                                                        <th>Nom</th>
                                                        <th>Désignation</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in fams %}
                                                        <tr>
                                                            <th scope="row">{{ loop.index }}</th>
                                                            <td>{{ i.metier }}</td>
                                                            <td>{{ i.code }}</td>
                                                            <td>{{ i.nom }}</td>
                                                            <td>{{ i.designation }}</td>
                                                            <td>
                                                                <a href="#!" class="label theme-bg text-white f-12 details" data-id="{{ i.code }}" data-met="{{ i.metier }}">
                                                                    <i class="fa fa-list"  ></i></a>
                                                                <a href="#!" class="label theme-bg3 text-white f-12 delete" data-id="{{ i.code }}" data-met="{{ i.metier }}">
                                                                    <i class="fa fa-trash" ></i></a>
                                                            </td>
                                                        
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 h-max-300">
                                <div class="card ">
                                    <div class="card-header">
                                        <h5>Ajouter\Modifier une Famille</h5>
                                    </div>
                                    <form class="card-block row" id="valide" method="POST" action="/user/add_met">
                                        <div class="col-12 md-form px-0 pr-2">
                                            <p class="active text-left label-p"><b>Le Métier:</b></p>
                                            <select id="met" name="metier" searchable="Vous Cherchez..." required>
                                                <option value="" selected disabled></option>
                                                {% for met in mets %}
                                                    <option value="{{ met.code }}">{{ met.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-12 md-form px-0 pr-2 pt-2 ">
                                            <p class="active text-left label-p"><b>Le code de la Famille:</b></p>
                                            <input class="form-control" name="code_fam" required>
                                            <span class="grey-text">Veuillez saisir le code de la Famille.</span>
                                        </div>
                                        <div class="col-12 md-form px-0 pr-2 pt-2">
                                            <p class="active text-left label-p"><b>Le nom de la Famille</b></p>
                                            <input class="form-control" name="nom_fam" required>
                                            <span class="grey-text">Veuillez saisir le nom de la Famille.</span>
                                        </div>
                                        <div class="col-12 md-form px-0 pr-2 pt-2">
                                            <p class="active text-left label-p"><b>La désignation de la Famille</b></p>
                                            <input class="form-control" name="design_fam" required>
                                            <span class="grey-text">Veuillez saisir la désignation de la Famille.</span>
                                        </div>
                                        <div class="col-12 md-form px-0 pr-2 pt-2 ">
                                            <button type="submit" class="btn btn-success">
                                                <i class="fa fa-check"></i>Valider</button></div>
                                        <div class="col-6 md-form px-0 pr-2 pt-2 ">
                                            {% if code %}
                                            <p class="alert {{ 'alert-success' if code  else 'alert-warning' }}">{{ message }}</p>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block footer %}
<script src="/static/js/selectize.min.js"></script>
<script src="/static/js/pages/add_fam.js"></script>
{% endblock %}