{% extends "admin/admin_layout.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap-treeview.min.css">
{% endblock %}
{% block body %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Sample Page</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Sample Page</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Structure des Article</h5>
                                    </div>
                                    <div class="card-block row">
                                        
                                        <div class="col-5" id="tree"></div>
                                        <div class="col-xl-6 col-md-6 d-none" id="product">
                                            <div class="card card-event">
                                                <div class="card-block">
                                                    <div class="row align-items-center justify-content-center">
                                                        <div class="col">
                                                            <h5 class="m-0" id="nom_art">Upcoming Event</h5>
                                                        </div>
                                                        <div class="col-auto">
                                                            <label class="label theme-bg2 text-white f-14 f-w-400 float-right" id="code_art">34%</label>
                                                        </div>
                                                    </div>
                                                    <h5 class="mt-3 "><b>Détails sur le produit:</b></h5>
                                                    <div class="row">
                                                        <div class="col-6 text-muted mt-4 mb-0">
                                                            
                                                            <h5 class="m-0" id="met_art">Upcoming Event</h5><br>
                                                            <h5 class="m-0" id="fam_art">Upcoming Event</h5><br>
                                                            <h5 class="m-0" id="sfam_art">Upcoming Event</h5><br>
                                                            <h5  id="design_art"> You can participate in event </h5>
                                                        
                                                        </div>
                                                        <img class="col-6 img-thumbnail w-50 h-50 rounded" src="" id="img_art"></img>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block footer %}
    <!-- <script src="/static/js/jquery-3.2.1.min.js"></script> -->
    <script src="/static/js/bootstrap-treeview.min.js"></script>
    <script src="/static/js/pages/tree.js"></script>
{% endblock %}