<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="index.html" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Nomenclature</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li class="nav-item">
                    <a href="/admin/" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Gestion des catégories</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                    <a href="/admin/add_met" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="fa fa-plus"></i></span>
                            <span class="pcoded-mtext">Ajouter un Métier</span></a></li>
                <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                    <a href="/admin/add_fam" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="fa fa-plus"></i></span>
                            <span class="pcoded-mtext">Ajouter une Famille</span></a></li>
                <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                    <a href="/admin/add_sfam" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="fa fa-plus"></i></span>
                            <span class="pcoded-mtext">Ajouter une Sous Famille</span></a></li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Gestion des Artiles</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                    <a href="/admin/add_article" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-file-text"></i></span>
                            <span class="pcoded-mtext">Ajouter un Article</span></a>
                </li>
                <li data-username="Table bootstrap datatable footable" class="nav-item">
                    <a href="/admin/list_article" class="nav-link "><span class="pcoded-micon">
                        <i class="feather icon-server"></i></span>
                        <span class="pcoded-mtext">Liste des Articles</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="navbar pcoded-header navbar-expand-lg navbar-light">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
        <a href="/admin/" class="b-brand">
               <div class="b-bg">
                   <i class="feather icon-trending-up"></i>
               </div>
               <span class="b-title">Nomenclature</span>
           </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="javascript:">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
            <!-- <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown">Dropdown</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:">Action</a></li>
                    <li><a class="dropdown-item" href="javascript:">Another action</a></li>
                    <li><a class="dropdown-item" href="javascript:">Something else here</a></li>
                </ul>
            </li> -->
            <!-- <li class="nav-item">
                <div class="main-search">
                    <div class="input-group">
                        <input type="text" id="m-search" class="form-control" placeholder="Search . . .">
                        <a href="javascript:" class="input-group-append search-close">
                            <i class="feather icon-x input-group-text"></i>
                        </a>
                        <span class="input-group-append search-btn btn btn-primary">
                            <i class="feather icon-search input-group-text"></i>
                        </span>
                    </div>
                </div>
            </li> -->
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <div class="dropdown drp-user">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon feather icon-settings"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-notification">
                        <div class="pro-head">
                            <img src="/static/images/user/avatar-2.jpg" class="img-radius" alt="User-Profile-Image">
                            <span>{{ current_user.pseudo_cpt}}</span>
                            <a href="/logout" class="dud-logout" title="Logout">
                                <i class="feather icon-log-out"></i>
                            </a>
                        </div>
                        <ul class="pro-body">
                            <!-- <li><a href="/admin/params" class="dropdown-item"><i class="feather icon-settings"></i> Settings</a></li>
                            <li><a href="/admin/profil" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li> -->
                            <li><a href="/logout" class="dropdown-item"><i class="feather icon-lock"></i> LogOut</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>