{% extends "admin/admin_layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/selectize.css">
{% endblock %}
{% block body %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Articles</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i
                                                class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Articles</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-md-7 col-lg-7">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Liste des Articles</h5>
                                        <!-- <span class="d-block m-t-5"></span> -->
                                        <form class="form-inline my-2">
                                            <div class="form-group form-group-sm mb-2">
                                                <select name="champ" id="champ" class="form-control">
                                                    <option value="" disabled selected>Selectionner le champ</option>
                                                    <option value="code">Code</option>
                                                    <option value="nom">Nom</option>
                                                    <option value="designation">designation</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-6 mb-2">
                                                <input type="text" id="search" name="search" class="form-control w-100" placeholder="Inserer le mot de recherche">
                                            </div>
                                            <div class="form-group col-1 mb-2">
                                                <button type="button" id="export" class="btn btn-danger p-2"><i class="fa fa-file-pdf fa-2x m-0"></i></button>
                                            </div>
                                            <div class="form-group col-1 mb-2">
                                                <button type="button" id="excel" class="btn btn-success p-2"><i class="fa fa-file-excel fa-2x m-0"></i></button>
                                            </div>
                                        </form>
                                        
                                    </div>
                                    <div class="card-block table-border-style pt-0">
                                        <div class="table-responsive h-max-300">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Codification</th>
                                                        <th>Nom</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="result-body">
                                                    {% for i in arts %}
                                                    <tr>
                                                        <th scope="row">{{ loop.index }}</th>
                                                        <td>{{ i.metier }}{{ i.famille }}{{ i.sousfamille }}{{ i.code }}</td>
                                                        <td>{{ i.nom }}</td>
                                                        <td>
                                                            <a href="#!" class="label theme-bg text-white f-12 details"
                                                                data-id="{{ i.code }}" data-met="{{ i.metier }}"
                                                                data-fam="{{ i.famille }}"
                                                                data-sfam="{{ i.sousfamille }}">
                                                                <i class="fa fa-list"></i></a>
                                                            <a href="#!" class="label theme-bg3 text-white f-12 delete"
                                                                data-id="{{ i.code }}" data-met="{{ i.metier }}"
                                                                data-fam="{{ i.famille }}"
                                                                data-sfam="{{ i.sousfamille }}">
                                                                <i class="fa fa-trash"></i></a>
                                                        </td>

                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 h-max-300">
                                <div class="card ">
                                    <div class="card-header">
                                        <h5>Ajouter\Modifier un Article</h5>
                                    </div>
                                    <form class="card-block row" method="POST" enctype="multipart/form-data"
                                        action="/admin/update_article">
                                        <!-- <div class="col-12 md-form px-0 pr-2">
                                            <p class="active text-left label-p"><b>Le Métier:</b></p>
                                            <select id="met" name="metier" searchable="Vous Cherchez..." required>
                                                <option value="" selected disabled></option>
                                                {% for met in mets %}
                                                    <option value="{{ met.code }}">{{ met.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-12 md-form px-0 pr-2">
                                            <p class="active text-left label-p"><b>La Famille:</b></p>
                                            <select id="fam" name="famille" searchable="Vous Cherchez..." required>
                                                <option value="" selected disabled></option>
                                            </select>
                                        </div>
                                        <div class="col-12 md-form px-0 pr-2">
                                            <p class="active text-left label-p"><b>La sous Famille:</b></p>
                                            <select id="sfams" name="sousfamille" searchable="Vous Cherchez..." required>
                                                <option value="" selected disabled></option>
                                            </select>
                                        </div> -->
                                        <div class="col-4 md-form px-0 pr-2 pt-2 ">
                                            <p class="active text-left label-p"><b>Le code du Métier:</b></p>
                                            <input class="form-control" id="met" name="metier" readonly required>
                                        </div>
                                        <div class="col-4 md-form px-0 pr-2 pt-2 ">
                                            <p class="active text-left label-p"><b>Le code de la famille:</b></p>
                                            <input class="form-control" id="fam" name="famille" readonly required>
                                        </div>
                                        <div class="col-4 md-form px-0 pr-2 pt-2 ">
                                            <p class="active text-left label-p"><b>Le code de la sous famille':</b></p>
                                            <input class="form-control" id="sfams" name="sous_famille" readonly
                                                required>
                                        </div>
                                        <div class="col-12 md-form px-0 pr-2 pt-2 ">
                                            <p class="active text-left label-p"><b>Le code de l'article':</b></p>
                                            <input class="form-control" id="code_art" name="code_art" required>
                                            <span class="grey-text">Veuillez saisir le code de l'article.</span>
                                        </div>
                                        <div class="col-12 md-form px-0 pr-2 pt-2">
                                            <p class="active text-left label-p"><b>Le nom de l'article</b></p>
                                            <input class="form-control" name="nom_art" required>
                                            <span class="grey-text">Veuillez saisir le nom de l'article.</span>
                                        </div>
                                        <div class="col-12 md-form px-0 pr-2 pt-2">
                                            <p class="active text-left label-p"><b>La désignation de l'article</b></p>
                                            <textarea class="form-control" name="design_art" required></textarea>
                                            <span class="grey-text">Veuillez saisir la désignation de l'article.</span>
                                        </div>
                                        <div class="col-12 md-form px-0 pr-2 pt-2">
                                            <p class="text-left label-p"><b>Image de l'article</b></p>
                                            <img class="form-control" id="img_art" />
                                            <span class="grey-text">Veuillez saisir la désignation de l'article.</span>
                                            <input type="file" name="file" class="form-control">
                                        </div>

                                        <div class="col-12 md-form px-0 pr-2 pt-2 ">
                                            <button type="submit" class="btn btn-success">
                                                <i class="fa fa-check"></i>Valider</button></div>
                                        <div class="col-6 md-form px-0 pr-2 pt-2 ">
                                            {% if code %}
                                            <p class="alert {{ 'alert-success' if code  else 'alert-warning' }}">
                                                {{ message }}</p>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block footer %}
<script src="/static/js/selectize.min.js"></script>
<script src="/static/js/pages/add_art.js"></script>
{% endblock %}