<!DOCTYPE html>
<html>
<head>
    <title>Liste des Articles</title>
</head>
<body>    
    
<h3 class="text-center ">Liste des Articles</h3>
<br>
<span class="float-right"><b>La date :</b> {{ now }}</span>
<br>
<br>
<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
          <th class="head0 text-center">N°</th>
          <th class="head0 text-center">Code</th>
          <th class="head0 text-center">Désignation</th>
      </tr>
    </thead>
    <tbody>
      {% for apps in rdv -%}
        <tr>
          <td class="text-center">{{ loop.index}}</td>
          <td class="text-left">{{ apps.code }}</td>
          <td class="text-left">{{ apps.nom }}</td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>