{% extends "comptable/comptable_layout.html" %}
{% set active_page = "home" %}
{% block head %}
<!-- <script src="/static/js/vendors/underscore.js"></script>
<script src="/static/js/vendors/Backbone.js"></script>-->
<!-- todo: continue here tree -->

{% endblock %}
{% block body %}
<div class="page">
    <div class="flex-fill">
        <div class="my-3 my-md-5">
          <div class="container-fluid px-md-5">
            <div class="page-header">
              <h1 class="page-title">
                Accueil
              </h1>
            </div>
            <div class="row row-cards px-4">
              <div class="col-6 col-sm-4 col-lg-4 p-0">
                <div class="card">
                  <div class="card-body p-0 text-center">
                    <div class="w-100 h-100 bg-blue-light rounded mr-4">
                      <div class="text-white py-5">
                        <h5><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Créer vos chapitres --------------------</strong></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-4 p-0">
                <div class="card">
                  <div class="card-body p-0 text-center">
                    <div class="w-100 h-100 bg-cyan-light rounded mr-4">
                      <div class=" text-white py-5">
                        <h5><strong>---------- Affecter des articles à vos chapitres ---------</strong></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-4 p-0">
                <div class="card">
                  <div class="card-body p-0 text-center">
                    <div class="w-100 h-100 bg-teal-light rounded mr-4">
                      <div class=" text-white py-5">
                      <h5><strong>-------------- Créer les Prévisions de vos articles &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              
              <div class="col-12">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Chart title</h3>
                      </div>
                      <div class="card-body">
                        <div id="chart-donut" style="height: 12rem; max-height: 192px; position: relative;" class="c3"></div>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Chart title</h3>
                      </div>
                      <div class="card-body">
                        <div id="main" style="width:100%; height: 30rem;"></div>
                        <!-- <div id="chart-pie" style="height: 12rem; max-height: 192px; position: relative;" class="c3"></div> -->
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %} {% block footer %}

  <script type="text/javascript" src="/static/js/handler/tree.js"></script>
{% endblock %}