{% extends "comptable/comptable_layout.html" %}
{% set active_page = "article" %}
{% block head %}
<script src="/static/plugins/input-mask/plugin.js"></script>
<script src="/static/plugins/datatables/plugin.js"></script>
{% endblock %}
{% block body %}
<div class="page">
    <div class="flex-fill">
        <div class="my-3 my-md-5">
          <div class="container-fluid px-md-5">
            <div class="col-lg-12 card px-0">
              <form action="/comptable/list_art" method="post">
                <div class="card-header "><b class="text-dark">
                  <i class="fe fe-list"></i>
                  Liste des Articles</b></div>
                  <fieldset class="card-body form-fieldset my-0 py-1">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <p class="form-label">Nom du Chapitre <span class="form-required">*</span></p>
                              <select id="form2" name="nom_chp" searchable="Vous Cherchez..." required>
                                <option value="" selected disabled>Selectionner le Chapitre.</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-1">
                            <button type="submit" class="btn btn-icon btn-success mt-5"><i class="fe fe-search"></i></button>
                          </div>
                        </div>
                  </fieldset>
                </form>
                
              <div class="card-footer px-0">
                <div class="col-12 px-0">
                    <div class="table-responsive">
                      <table class="table card-table table-vcenter table-striped table-sm table-bordered text-nowrap datatable">
                        <thead>
                          <tr>
                            <th class="px-2">N°&nbsp; </th>
                            <th>Article</th>
                            <th>Date Création</th>
                            <th>solde initial</th>
                            <th>solde actuel</th>
                            <th>Prévisions</th>
                            <th>Chapitre</th>
                            <th>% Restant</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for g in arts %}
                            <tr>
                              <td class="px-2"><span class="text-muted">{{ loop.index }}</span></td>
                              <td><a href="#" class="text-inherit">{{ g.nom }}</a></td>
                              <td>{{ g.date_c }}</td>
                              <td>{{ g.solde_init }}</td>
                              <td>{{ g.solde_actuel }}</td>
                              <td>{{ g.nbre_prev }}</td>
                              <td>{{ g.chapitre.nom }}
                                <span class="col-auto align-self-center float-right">
                                  <span class="form-help" data-toggle="popover" data-placement="left"
                                    data-content="<div class='alert px-0' role='alert'>
                                      <h4>Détails du Chapitre N°= {{ g.chapitre.id }}</h4>
                                      <ul class='pl-1'>
                                      <li><strong>Chapitre :</strong><p class='float-right'>{{ g.chapitre.nom }}<p></li>
                                      <li><strong>Type:</strong><p class='float-right'>{{ g.chapitre.type }}<p></li>
                                        <li><strong>Solde Restant:</strong><p class='float-right'>{{ g.chapitre.solde_actuel }}<p></li>
                                        <li><strong>Solde initial:</strong><p class='float-right'>{{ g.chapitre.solde_init }}<p></li>
                                      <li><strong>% Article/Chapitre: </strong><p class='float-right'><span class='text-blue'>{{ '%.1f'|format((g.solde_init/g.chapitre.solde_init)*100) }}%</span><p>
                                      </li>
                                      <a class='btn btn-outline-info float-right' href='/comptable/list_chp?id={{ g.chapitre.id }}'><i class='fe fe-plus'></i> détails</a>
                                    </div>
                                      "><i class="fe fe-info"></i></span>
                                </span>
                              </td>
                              <td>
                                  <div class="mx-auto ml-2 chart-circle chart-circle-xs" data-value="{{ (g.solde_actuel/g.solde_init) }}" data-thickness="3" data-color="green">
                                  <div class="chart-circle-value">{{ "%.1f"|format((g.solde_actuel/g.solde_init)*100) }}%</div>
                                </div>
                              </td>
                              <!-- <td>
                                {{ g.balance }}
                              </td> -->
                              <!-- <td>
                                <span class="status-icon bg-success"></span> {{ g.id }}
                              </td> -->
                              <td>
                                <a class="icon" href="javascript:void(0)">
                                  <i class="fe fe-edit"></i>
                                </a>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %} {% block footer %}
<script src="/static/js/handler/list_art.js"></script>
{% endblock %}