{% extends "comptable/comptable_layout.html" %}
{% set active_page = "chapitre" %}
{% block head %}
<script src="/static/plugins/input-mask/plugin.js"></script>
{% endblock %}
{% block body %}
<div class="page">
    <div class="flex-fill">
        <div class="my-3 my-md-5">
          <div class="container-fluid px-md-5">
            <!-- <div class="page-header">
              <h1 class="page-title">
                Ajouter un Chapitre
              </h1>
            </div> -->
            <div class="col-lg-12">
              <form class="card" id="add_chap" method="post">
                <div class="card-header "><b class="text-dark">
                  <i class="fe fe-plus"></i>
                  Créer un Chapitre</b></div>
                <fieldset class="card-body form-fieldset my-0">

                  <div class="dimmer">
                    <div class="loader"></div>
                    <div class="dimmer-content">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                              <p class="form-label">Nom du Budget <span class="form-required">*</span></p>
                              <select id="form2" name="nom_bdg" searchable="Vous Cherchez..." required>
                                  <option value="" selected disabled>Selectionner le Budget.</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                              <p class="form-label">Nom du chapitre <span class="form-required">*</span></p>
                              <select id="form3" name="nom_chp" searchable="Vous Cherchez..." required>
                                  <option value="" selected disabled>Inserez un chapitre.</option>
                              </select>
                              <div class="feedback text-left"></div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="form-label">Solde initial du chapitre</label>
                            <div class="input-group">
                              <span class="input-group-prepend">
                                <span class="input-group-text">DA</span>
                              </span>
                              <input type="text" name="solde_init_chp" class="form-control text-right budget" data-mask="00000000000000000" data-mask-reverse="true" />
                            </div>
                          </div>
                        </div>
                        
                        <div  class="col-md-1 text-center">
                          <label class="form-label">% Budget</label>
                          <div class="mx-auto chart-circle chart-circle-xs" data-value="0" data-thickness="3" data-color="orange">
                            <div class="chart-circle-value">0%</div>
                          </div>
                        </div>
                      </div>
                      <div class="alert alert-icon m-0 p-0" id="alert" role="alert"></div>
                    </div>
                  </fieldset>
                <div class="card-footer text-right">
                  
                  <button type="submit" class="btn  btn-success"><i class="fe fe-check mr-2"></i> Créer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %} {% block footer %}
<script src="/static/js/handler/user_chap.js"></script>
{% endblock %}