<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="/comptable/home">
                <h4 class="my-2">Plateforme Comptable (Prévisions)</h4>
            </a>
            <div class="d-flex order-lg-2 ml-auto">
               <div class="dropdown">
                  <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                    <i class="fe fe-user" ></i>
                    <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">{{ current_user.username_usr}}</span>
                      <small class="text-muted d-block mt-1">{{ current_user.type_usr}}</small>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-user"></i> Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-settings"></i> Settings
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">
                      <i class="dropdown-icon fe fe-log-out"></i> Sign out
                    </a>
                  </div>
                </div>
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <!-- <div class="col-lg-3 ml-auto">
                <form class="input-icon my-3 my-lg-0">
                  <input type="search" class="form-control header-search" placeholder="Search…" tabindex="1">
                  <div class="input-icon-addon">
                    <i class="fe fe-search"></i>
                  </div>
                </form>
              </div> -->
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item">
                    <a href="/comptable/home" class="nav-link {{ 'active' if active_page == 'home' else '' }}"><i class="fe fe-home"></i> Accueil</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link {{ 'active' if active_page == 'chapitre' else '' }}" data-toggle="dropdown"><i class="fe fe-box"></i> Chapitres</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="/comptable/add_chap" class="dropdown-item "><i class="fe fe-plus"></i>Nouveau Chapitre</a>
                      <a href="/comptable/list_chap" class="dropdown-item "><i class="fe fe-list"></i>Liste des Chapitres</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link {{ 'active' if active_page == 'article' else '' }}" data-toggle="dropdown"><i class="fe fe-bookmark"></i> Articles</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="/comptable/add_art" class="dropdown-item "><i class="fe fe-plus"></i>Nouveau Article</a>
                      <a href="/comptable/list_art" class="dropdown-item "><i class="fe fe-list"></i>Liste des Articles</a>
                    </div>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link {{ 'active' if active_page == 'prevision' else '' }}" data-toggle="dropdown"><i class="fe fe-layers"></i> Prévisions</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                      <a href="/comptable/add_prev" class="dropdown-item "><i class="fe fe-plus"></i>Nouvelle Prévision</a>
                      <a href="/comptable/list_prev" class="dropdown-item "><i class="fe fe-list"></i>Liste des Prévisions</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>