<!DOCTYPE html>
<html lang="en">

<head>
    <title>Previsions</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link href="/static/css/dashboard.css" rel="stylesheet" />
    <!-- <link href="/static/plugins/charts-c3/plugin.css" rel="stylesheet" /> -->
    <!-- <link href="/static/plugins/maps-google/plugin.css" rel="stylesheet" />  -->

</head>

<body class="backy">
    <div class="page">
        <div class="page-single">
            <div class="container-fluid BA">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <!-- <div class="text-center mb-6">
                            <img src="/static/images/revenue.svg" width="200px" height="200px" class="h-6" alt="">
                        </div> -->
                        <form class="card" id="login" action="" method="post">
                            <div class="card-header bg-green-dark"><b class="text-white">
                                    <i class="fe fe-server"></i>
                                    Gestion des Prévisions</b></div>
                            <!-- <h3 class="card-title ">Prévisions de dépenses</h3> -->
                            <div class="card-alert alert my-0" id="alert"></div>
                            <div class="card-body p-6">
                                <div class="dimmer">
                                    <div class="loader"></div>
                                    <div class="dimmer-content">
                                        <div class="form-group">
                                            <label class="form-label">Pseudo</label>
                                            <div class="input-icon">
                                                <span class="input-icon-addon">
                                                    <i class="fe fe-user"></i>
                                                </span>
                                                <input type="text" name="username" class="form-control"
                                                    placeholder="Insérer votre pseudo">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Mot de passe</label>
                                            <div class="input-icon">
                                                <span class="input-icon-addon">
                                                    <i class="fe fe-lock"></i>
                                                </span>
                                                <input type="password" name="password" class="form-control"
                                                    placeholder="Insérer votre mot de passe">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8 captcha">
                                                {{ captcha() }}
                                            </div>
                                            <div class="col-4 text-left">
                                                <button type="button"
                                                    class="btn btn-primary btn-sm bg-blue-lighter btn-rounded"
                                                    id="reloader"><i class="fe fe-refresh-ccw"
                                                        aria-hidden="true "></i></button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Saisir les chiffres de l'image</label>
                                            <div class="input-icon">
                                                <span class="input-icon-addon">
                                                    <i class="fe fe-help-circle"></i>
                                                </span>
                                                <input type="text" name="captcha" class=" form-control"
                                                    placeholder="Saisir les chiffres de l'image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-success btn-block">Login
                                            <i class="fe fe-log-in"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="text-center text-muted">
                            2021 @ <a href="#">DSI / DTSIG</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
    <script src="/static/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="/static/js/require.min.js"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <script src="/static/js/dashboard.js"></script>
    <!--<script src="/static/plugins/charts-c3/plugin.js"></script>
    <script src="/static/plugins/maps-google/plugin.js"></script>
    <script src="/static/plugins/input-mask/plugin.js"></script>
    <script src="/static/plugins/datatables/plugin.js"></script> -->
    <script src="/static/js/handler/login.js"></script>
</body>

</html>