<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link href="/static/css/dashboard.css" rel="stylesheet" />
    <link href="/static/plugins/charts-c3/plugin.css" rel="stylesheet">
    <link href="/static/plugins/maps-google/plugin.css" rel="stylesheet">
    <title>Plateforme - Comptable</title>
    <script src="/static/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="/static/js/require.min.js"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <script src="/static/js/dashboard.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <!-- <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div> -->
    {% include 'comptable_menu.html' %}
    {% block body %}{% endblock %}
    
    <footer class="footer">
        <div class="container-fluid">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Copyright © 2021 <a href="#">DSI / DTSIG</a>. All rights reserved.
            </div>
        </div>
    </footer>
    
    <!-- <script src="/static/plugins/charts-c3/plugin.js"></script>
    <script src="/static/plugins/maps-google/plugin.js"></script>
    <script src="/static/plugins/input-mask/plugin.js"></script>
    <script src="/static/plugins/datatables/plugin.js"></script> -->
    {% block footer %}{% endblock %}
</body>
</html>